* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none;  margin: 0px; padding: 0px}



.container{
	width:100%;
	max-width:1280px;
	margin:0 auto;
	background:url('/assets/images/bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	font-family: 'Roboto', sans-serif;	
 	color: #666;	
 	font-size: 14px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;

}

