.region.region--cross-cutting
	.block__title
		h3 Cross-Cutting
		.border
		.border--point
	.block__list
		ul
			li Hague-Marrakech Memorandum on Good Practices
			li Recommendations on prevention and rehabilitation
			li Sharing lessons learned