.areaMap.areaMap--detection
	.block__title
		h3 Detection and Intervention <span>against radicalized individuals</span>
		.border
		.border--point
	.block__list
		ul
			li Deterrence
			li Detection
			li Alternatives to Detention and Incarceration
			li Denial of means
			li Investigation
			li Arrest and/or lawful detention
			li Pre-trial detention
			li Prosecution