.region.region--prevention
	.block__title
		h3 Prevention <br> <span>of radicalization</span>
		.border
		.border--point
	.block__list
		ul
			li Counternarratives
			li Countermessaging
			li Education
			li Role of Religions Education in CVE
			li Family Support
			li Community resilience
			li Comminity engagement
			li Community-oriented policing
			li Neutralization of recruiters and facilitation networks