.region.region--rehabilitation
	.block__title
		h3 Rehabilitation and Reintegration <br><span>of radicalized individuals</span>
		.border
		.border--point
	.block__list
		ul
			li Effective prison management
			li Disengagement
			li Risk assessment
			li Rehabilitation
			li Reintegration