doctype
html(lang="en")
	head
		title Starter Kit
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		.container
			button.btnRestart(style="position:absolute; right:0; bottom:0;") Restart
			include partials/header
			main
				include partials/left-side 
				include partials/piechart
				include partials/right-side

		include partials/scripts